@charset "UTF-8";[data-v-bcef15e7]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu_background:#21252b}.img-wrapper[data-v-bcef15e7]{width:400px}.img-wrapper img[data-v-bcef15e7]{width:100%;margin-top:5px}
