@charset "UTF-8";[data-v-5295d3d8]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu_background:#21252b}.search-container[data-v-5295d3d8]{display:flex;justify-content:space-between}
